body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-top: 152px;
}

#main-container {
  background-color: white;
  width: 320px;
  height: 497px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

#qr-image {
  height: 288px;
  width: 288px;
  border-radius: 10px;
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
}

h1 {
  color: #1f314f;
  margin-top: 24px;
  text-align: center;
  font-size: 22px;
  font-style: normal;
}

p {
  color: #7d889e;
  margin-top: 24px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
}

@media (max-width: 450px) {
  body {
    margin: 85px;
  }
}
